

.blue {
    background-color: blue;
    height: 250px;
    width: 250px;
    margin-bottom: 10px;

    
}

.green {
    background-color:green;
    height: 250px;
    width: 250px;
    margin-top: 10px;
    
}